{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}

    <h1>Product</h1><br />

    <table>
        <thead>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </thead>
        <tbody>
            <tr>
                <td>{{ single_product.name }}</td>
                <td>{{ single_product.description }}</td>
                <td>{{ single_product.size }}</td>
            </tr>
        </tbody>
        <tfoot>
            <th>Name</th>
            <th>Description</th>
            <th>Size</th>
        </tfoot>
    </table>

{% endblock %}